@font-face {
  font-family: "Significent";
  src: url("/src/styles/fonts/Significent.otf") format("opentype"),
       url("/src/styles/fonts/Significent.ttf") format("truetype");
}

@font-face {
  font-family: "Gandhara";
  src: url("/src/styles/fonts/GandharaSuls-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Qalam";
  src: url("/src/styles/fonts/AlQalamTajNastaleeq-Regular.ttf") format("truetype");
}

body {
  overflow-x: hidden;
}
