.homepage {
  min-height: 110vh;
  width: 100vw;
  box-sizing: border-box;
  z-index: 0;
  padding-top: 60px;
  overflow-x: hidden;
}

.header {
  background-image: url("../assets/headerBg.jpg");
  background-size: cover;
  background-position: center;
  height: 8rem;
  max-width: 100vw;
  position: relative;
  padding: 2rem;
  overflow: hidden;
}

.img {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 40%;
  z-index: 1000;
  animation: fadeImage 1s;
  opacity: 0.2;
}

.title {
  width: 50%;
  z-index: 100;
  position: absolute;
  left: 28%;
  margin-top: -2.5rem;
  font-family: "Gandhara";
  font-size: 8rem;
  background: -webkit-linear-gradient(#fcf9ee, #f0e3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: slideIn 3s ease-in-out;
}

.subtitle {
  font-family: "Poppins";
  font-size: 1.7rem;
  color: #e2d7a0;
  animation: slideIn 3s ease-in-out;
  z-index: 100;
  position: absolute;
  left: 35%;
  bottom: 0px;
}

.liner {
  background-color: rgb(0, 0, 0);
  margin: 0;
  max-width: 100vw;
  padding: 5px 0;
  padding-left: 2%;
  animation: slideInLeft 2s ease-in-out;
  overflow: hidden;
}

.liner-text {
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  color: rgb(255, 251, 239);
  overflow: hidden; /* Ensures the typing effect works */
  white-space: nowrap; /* Prevents wrapping */
  display: inline-block; /* Keeps text inline */
  font-size: 1.12rem; /* Adjust font size */
  padding: 0 1px;
  text-shadow: 0 0 10px rgba(255, 249, 236, 0.226);
}

.mission-joinus {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin: 2rem;
  animation: slideInLeft 2s ease-in-out;
}

.mission-box,
.joinus-box {
  padding: 2rem 1rem;
  background-color: rgba(52, 51, 51, 0.37);
  border: 5px dashed black;
  border-radius: 20px;
  max-width: 90%;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  min-width: 85vw;
  transition: all 0.4s ease-in-out;
}

.mission-box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}

.mission-title,
.joinus-title {
  font-family: "Significent", sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 3rem;
  margin-bottom: 0;
  color: #ebdfa3;
  text-shadow: 1px 1px 5px rgba(255, 251, 228, 0.349);
  letter-spacing: 2px;
  margin: 0;
  width: 100%; /* Ensure title spans full width */
}

.card {
  height: 19rem; /* Flexible height */
  aspect-ratio: 1.2/1; /* Square aspect ratio */
  background-size: cover;
  background-position: center;
  position: relative;
  border-radius: 10px;
  box-shadow: 2px 5px 8px rgba(28, 29, 30, 0.4);
  transition: transform 0.5s ease-in-out;
  box-sizing: border-box;
  border: 5px dashed rgb(0, 0, 0);
}

.overlay {
  height: 4rem; /* Flexible height */
  aspect-ratio: 1.5/1; /* Square aspect ratio */
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.7;
  overflow: hidden;
}

.card-text {
  text-align: center;
  font-family: "Poppins";
  font-weight: bold;
  font-size: 1.5rem; /* Responsive font size */
  color: rgb(245, 226, 187);
  text-shadow: 2px 2px px rgb(194, 177, 102);
  display: flex;
  padding: 1rem;
  position: absolute;
  white-space: normal; /* Allow text wrapping */
  word-wrap: break-word; /* Ensure long words wrap */
  top: 30%;
  left: 0;
}

.card:hover {
  transform: scale(1.05); /* Subtle zoom on hover */
  color: rgb(240, 231, 158);
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(212, 208, 208, 0.3);
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  font-size: 18px;
  z-index: 3; /* Ensure arrows are clickable */
}

.joinus-text {
  text-align: center;
  font-family: "Poppins";
  font-size: clamp(16px, 3vw, 20px); /* Responsive font size */
  color: rgb(245, 226, 187);
  text-shadow: 2px 2px 2px rgb(62, 62, 62);
  white-space: normal; /* Allow text wrapping */
  word-wrap: break-word; /* Ensure long words wrap */
  margin: 0;
  padding: 1rem;
}

.joinus-button {
  display: block;
  background-color: #e2d7a0;
  color: #000;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  max-width: 140px;
  font-family: "Poppins";
  transition: all 0.4s ease-in-out;
}

.signup-button {
  background: linear-gradient(90deg, #e2d7a0, #e2d7a0, #e2d7a0);
  color: #000;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
  margin: 0 auto;
  text-align: center;
  max-width: 140px;
  font-family: "Poppins";
  font-weight: bold;
  transition: all 0.4s ease-in-out;
}

/* Hover effect */
.signup-button:hover,
.joinus-button:hover {
  background: linear-gradient(90deg, #fcf7df, #e2d7a0, #dbcc95);
  color: rgb(0, 0, 0);
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.452);
  box-shadow: 0px 0px 20px rgba(221, 206, 154, 0.8);
  transform: scale(1.05);
}

.mission-box:hover,
.joinus-box:hover {
  transform: scale(1.02);
  box-shadow: 0 0 25px rgba(226, 215, 160, 0.25);
  border-color: #e2d7a0;
  transition: all 0.4s ease-in-out;
  background-color: rgba(52, 51, 51, 0.55);
}

.overlay-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  backdrop-filter: blur(3px);
  opacity: 0;
  animation: fadeInOverlay 0.5s forwards ease-in-out;
}

.signup-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #1a1a1a;
  color: white;
  padding: 2rem;
  border: 5px dashed black;
  border-radius: 20px;
  width: 400px;
  max-height: 500px;
  overflow-y: auto;
  z-index: 3000;
  box-shadow: 0 0 30px rgba(252, 238, 188, 0.4);
  animation: fadeInUp 0.4s ease forwards;
}

.signup-title {
  text-align: center;
  margin-bottom: 1rem;
  font-family: "Significent", sans-serif;
  color: #e2d7a0;
  font-size: 3rem;
}

.role-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 10px;
}

.role-toggle button {
  background: none;
  border: 1px solid #e2d7a0;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  color: #e2d7a0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.role-toggle button.active,
.role-toggle button:hover {
  background: linear-gradient(90deg, #fcf7df, #e2d7a0, #dbcc95);
  color: black;
  box-shadow: 0px 0px 15px rgba(247, 232, 181, 0.6);
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.signup-form input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: "Poppins";
}

.submit-btn {
  background: linear-gradient(90deg, #fcf7df, #e2d7a0, #dbcc95);
  border: none;
  border-radius: 10px;
  padding: 0.7rem;
  color: black;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 15px rgba(248, 236, 194, 0.8);
}

.or-divider {
  text-align: center;
  color: #aaa;
  margin: 1rem 0;
}

.google-btn {
  background: white;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 0.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  font-family: "Poppins";
  cursor: pointer;
  transition: all 0.3s ease;
}

.google-btn:hover {
  transform: scale(1.05);
}

.google-btn img {
  width: 20px;
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  width: 100%;
  padding: 10px 35px 10px 10px; /* extra space for icon */
  border-radius: 8px;
  border: none;
  outline: none;
  font-family: "Poppins";
}

.eye-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #e2d7a0;
  transition: all 0.2s ease;
}

.eye-icon:hover {
  color: #fdf2ca;
  transform: scale(1.1);
}

.signup-subtext {
  color: #f5e58f;
  text-align: center;
  font-family: "Poppins";
  margin: 10px 0 25px;
}

.login-signup-choice {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.choice-btn {
  background: linear-gradient(90deg, #e2d7a0, #e2d7a0, #e2d7a0);
  border: none;
  border-radius: 8px;
  padding: 10px 25px;
  color: black;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: "Poppins";
}

.choice-btn:hover {
  background: linear-gradient(90deg, #fcf7df, #e2d7a0, #dbcc95);
  transform: scale(1.05);
  box-shadow: 0px 0px 15px rgba(248, 236, 194, 0.8);
}

.back-option {
  text-align: center;
  margin-top: 15px;
  color: #e2d7a0;
  font-family: "Poppins";
  cursor: pointer;
  transition: 0.3s ease;
}

.back-option:hover {
  color: #dbcc95;
  transform: scale(1.05);
}

.phone-field {
  display: grid;
  grid-template-columns: 10% 1fr;
  align-items: center;
  border: none;
  column-gap: 0.25rem;
  border-radius: 6px;
}

.country-code {
  color: rgb(180, 180, 180);
  margin-right: 8px;
  white-space: nowrap;
  text-align: center;
}


@media (min-width: 1024px) {
  .homepage {
    padding-top: 60px;
  }

  .header {
    height: 300px;
  }

  .title {
    margin-top: -35px;
    left: 31%;
    font-size: 15rem;
  }

  .subtitle {
    font-size: 2.5rem;
  }

  .img {
    width: 25%;
  }
  .card-text {
    top: 25%;
  }

  .card {
    height: 400px;
  }

  .liner-text {
    font-size: 3rem;
  }

  .mission-box {
    row-gap: 2rem;
  }
}
