:root {
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(0, 0, 0), rgb(43, 42, 42));
  font-family: "Poppins";
}

button {
  font-family: "Poppins";
  font-weight: "bold";
}

input,
select {
  background: linear-gradient(145deg, #1a1a1a, #2a2a2a);
  color: rgb(200, 200, 200);
  border: 1px solid #111;
  border-radius: 6px;
  box-shadow: 1px 1px 8px #121212, -2px -2px 6px #2d2d2d;
  padding: 8px 12px;
  font-family: "Poppins";
  outline: none;
  transition: all 0.2s ease-in-out;
}

